name: Auto Deploy CVC

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted 

    steps:
      - name: Checkout del codi
        uses: actions/checkout@v4

      - name: Preparar y Executar
        run: |
          # 1. Crear venv si no existe
          if [ ! -d "venv" ]; then
            python3 -m venv venv
          fi
          
          # 2. ACTIVAR i INSTALAR 
          source venv/bin/activate
          python -m pip install --upgrade pip
          
          pip install torch==2.5.1 torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
          pip install torch-geometric
          
          pip install -r requirements.txt
          
          echo "Desplegant canvis..."
          pkill -f test.py || true
          
          nohup python test.py -u > log.txt 2>&1 &