name: Auto Deploy CVC

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted 

    steps:
      - name: Checkout del codi
        uses: actions/checkout@v4

      - name: Configurar venv
        run: |
          source venv/bin/activate

      - name: Instal·lar dependències
        run: |
          pip install -r requirements.txt

      - name: Arrencar el codi
        run: |
          echo "Desplegant canvis..."
          # Detenir procès anterior
          pkill -f test.py || true
          
          #Executar codi en segon pla
          nohup python3 text.py > log.txt 2>&1 &
