name: Auto Deploy CVC

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted 

    steps:
      - name: 1. Checkout del codi
        uses: actions/checkout@v4

      - name: 2. Configurar Entorn Virtual
        run: |
          if [ ! -d "venv" ]; then
            python3 -m venv venv
          fi

      - name: Debug - Que hi ha al venv?
        run: |
          echo "--- Ruta actual: $(pwd) ---"
          echo "--- On és el python: ---"
          ls -l venv/bin/python
          echo "--- Llibreries instal·lades en aquest venv: ---"
          ./venv/bin/python -m pip list

      - name: 5. Executar Aplicació
        run: |
          # USA LA RUTA ABSOLUTA AL BINARI, oblida el 'source'
          nohup ./venv/bin/python -u test.py > log.txt 2>&1 &
